# Go
**/bin/
**/out/
**/*.exe
**/*.dll
**/*.so
**/*.dylib

# Modules
go.sum

# IDE
.vscode/
.idea/

# Local host dirs (keep folders, ignore contents)
host/wasm/*
host/shared/*
!host/wasm/.gitkeep
!host/shared/.gitkeep

# Local executable files
exectuor
executor.exe
coordinator
coordinator.exe

# Local IPFS dirs
ipfs/data/*